annotated-types
anyio
certifi
charset-normalizer
distro
h11
httpcore
httpx
idna
openai
playsound
pycairo
pydantic
pydantic_core
pydub
PyGObject
pyobject
python-dotenv
requests
simpleaudio
sniffio
tqdm
typing_extensions
urllib3
